@model List<DTOs.Paciente.PacienteListaDto>

@{
    ViewData["Title"] = "Clínica Dashboard";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <section class="dashboard-container">
        <div class="header-container">
            <form method="get" action="@Url.Action("Index", "Home")">
                <div class="input-container input-dashboard">
                    <label for="nameSearch">Nombre</label>
                    <input type="text" name="nombre" placeholder="Buscar por nombre..." id="nameSearch" />
                </div>
                <div class="input-container input-dashboard">
                    <label for="documentSearch">Número de documento</label>
                    <input type="text" name="ci" placeholder="Buscar por documento..." id="documentSearch" />
                </div>
                <div class="search-btn-container">
                    <button type="submit" class="btn-search">Buscar</button>
                </div>
            </form>

        </div>

        <article class="table-container">
            <div class="header-table">
                <p>Nombre Completo</p>
                <p>Número Documento</p>
                <p>ID</p>
                <p>Edad</p>
            </div>
            @if (Model != null && Model.Any())
            {
                foreach (var paciente in Model)
                {
                    <div class="table-row">
                        <p>@paciente.NombreCompleto</p>
                        <p>@paciente.NumeroDocumento</p>
                        <p>@paciente.Edad</p>
                        <p>@Html.ActionLink("Detalles", "ObtenerPacienteDetalle", "Paciente", new { id = paciente.id })</p>
                        <p>@Html.ActionLink("Historial Clinico", "ObtenerFichaPaciente", "HistoriaClinica", new { id = paciente.id })</p>
                    </div>
                }
            }
            else
            {
                <h2 class="error-msj">No hay pacientes disponibles</h2>
            }
        </article>
    </section>
</body>
</html>
