@model IEnumerable<DTOs.HistorialClinico.ListarHistoriaClinicaDto>

@{
    ViewData["Title"] = "GetHistoriaClinica";
}

<h1>GetHistoriaClinica</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MotivoDeConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnfermedadActual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Antecedentes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HabitosPSB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamenFisico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnostico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExameneLaboratorio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tratamiento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MotivoDeConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnfermedadActual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Antecedentes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HabitosPSB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamenFisico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnostico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExameneLaboratorio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tratamiento)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
