@model DTOs.Paciente.FichaPacienteDto

@{
    ViewData["Title"] = "ObtenerFichaPaciente";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet" />
    <title>@ViewData["Title"]</title>
</head>
<body class="body-detail">
    <h2 class="title-detail">Detalles del paciente</h2>
    <section class="detail-section">
        <div class="top-h">
            <div class="detail-content-container">
                Nombre completo:
                <span>@Html.DisplayFor(model => model.NombreCompleto)</span>
            </div>
            <div class="detail-content-container">
                Número de identificación:
                <span>@Html.DisplayFor(model => model.NumeroDocumento)</span>
            </div>
        </div>
        <div class="middle-h">
            <div class="detail-content-container">
                Número de teléfono:
                <span>@Html.DisplayFor(model => model.Telefono)</span>
            </div>
            <div class="detail-content-container">
                Dirección:
                <span>@Html.DisplayFor(model => model.Direccion)</span>
            </div>
        </div>
        
    </section>
</body>
</html>

@if(Model.idHistorialClinico == 0)
{
    <p class="message-error">No hay historiales clinicos</p>
    @Html.ActionLink("Crear historial clinico", "Create", "HistoriaClinica", new { PacienteId = Model.idPaciente }, new { @class = "btn-addHistory" })

    ;
}
else
{
    <h2 class="title-detail">Historial Clínico</h2>
    <section class="detail-section">
        <div class="detail-content-container">
            Motivo de consulta:
            <span>@Html.DisplayFor(model => model.MotivoDeConsulta)</span>
        </div>
        <div class="detail-content-container">
            Enfermedad actual:
            <span>@Html.DisplayFor(model => model.EnfermedadActual)</span>
        </div>
        <div class="detail-content-container">
            Antecedentes:
            <span>@Html.DisplayFor(model => model.Antecedentes)</span>
        </div>
        <div class="detail-content-container">
            Hábitos PSB:
            <span>@Html.DisplayFor(model => model.HabitosPSB)</span>
        </div>
        <div class="detail-content-container">
            Examen físico:
            <span>@Html.DisplayFor(model => model.ExamenFisico)</span>
        </div>
        <div class="detail-content-container">
            Diagnóstico:
            <span>@Html.DisplayFor(model => model.Diagnostico)</span>
        </div>
        <div class="detail-content-container">
            Exámenes de laboratorio:
            <span>@Html.DisplayFor(model => model.ExameneLaboratorio)</span>
        </div>
        <div class="detail-content-container">
            Tratamiento:
            <span>@Html.DisplayFor(model => model.Tratamiento)</span>
        </div>
    </section>
    <div class="btn-container">
        @Html.ActionLink("Editar Historial", "Edit", "HistoriaClinica", new { id = Model.idPaciente }, new { @class = "btn-edit" })
        @Html.ActionLink("Ver Evoluciones", "GetEvoluciones", "Evolucion", new { id = Model.idPaciente }, new { @class = "btn-view" })
    </div>
}



